@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-display: swap;
}

:root {
    /* ### Fonts */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-regular: 'Roboto', sans-serif;
    --font-bold: 'Roboto-Bold', sans-serif;
    /* ### Primary */
    --tomato: hsl(4, 100%, 67%);
    --tomatoAlpha: rgba(255, 98, 87, .3);
    /* ### Neutral */
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --greyAlpha: rgba(146, 148, 160, .7);
    --white: hsl(0, 0%, 100%);
    --linkColor: hsl(228, 45%, 44%);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font: var(--font-weight-regular) 1rem var(--font-regular);
    color: var(--charcoalGrey);
    background-color: var(--darkSlateGrey);
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

button {
    cursor: pointer;
    transition: opacity .2s ease;

    &:hover {
        opacity: .9;
    }
}

button,
input {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
}

a {
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: 2fr;
    /* 320px */
    min-width: 20rem;
    /* 400px */
    max-width: 25rem;
    /* 800px */
    max-height: 50rem;
    margin: 0 auto;
    background-color: var(--white);
}

.illustration-mobile,
.illustration-desktop {
    display: block;
    width: 100%;
}

.form {
    padding: 2rem;
}

.title,
.description {
    margin-block-end: 1.5rem;
}

.title {
    font-size: 2rem;
}

.item+.item {
    margin-block-start: 1rem;
}

.item {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
}

.item img {
    width: 1rem;
    height: 1rem;
}

.button {
    width: 100%;
    border: 0;
    border-radius: .5rem;
    padding: 1rem;
    color: var(--white);
    background-color: var(--darkSlateGrey);
}

.email {
    display: flex;
    justify-content: space-between;
    margin-block-start: 2rem;
    margin-block-end: .5rem;
    font-size: .75rem;

    label {
        font-weight: 400;
    }

    span {
        color: var(--tomato);
    }
}

input[type='email'] {
    width: 100%;
    border: 1px solid var(--greyAlpha);
    border-radius: .5rem;
    padding: 1rem;
    outline: 0;

    &:focus {
        border: 1px solid var(--greyAlpha);
        color: var(--charcoalGrey);
        background-color: var(--white);
    }
}

.form button[type='submit'] {
    margin-block-start: 2rem;
}

.success {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50rem;
    padding: 2rem;

    img,
    h1 {
        margin-block-end: 2rem;
    }

    h1 {
        font-size: 2rem;
    }
}

.form .error {
    border: 1px solid var(--tomatoAlpha);
    color: var(--tomato);
    background-color: var(--tomatoAlpha);
}

.hidden {
    display: none;
}

.bold {
    font-weight: var(--font-weight-bold);
    font-family: var(--font-bold);
}

.attribution {
    /* 11px */
    font-size: 0.6875rem;
    text-align: center;
    color: var(--white);
}

.attribution a {
    text-decoration: none;
    /* 14px */
    font: 0.875rem var(--font-bold);
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: inherit;
}